<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Completiondate:</strong>
  <%= @list.completiondate %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @list.completed %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

<h3>Tasks</h3>
<% @list.tasks.each do |task| %>
  <div>
    <strong><%= task.name %></strong>
    <br />
    <p><%= task.description %></p>
  </div>
<% end %>
<%= render template: 'tasks/show' %>


